@page "/jobagencyform"
@using DataLibrary
@using System.Diagnostics
@using WebEnablePackage.ViewModels

@inject HttpClient Http

<div class="ma-6 d-flex justify-center">
        <h3>User Registration Form</h3>
</div>
<div class="ma-6 d-flex justify-center">
    <MudCard Width= "800px">
        <MudForm Model ="userDataJobModel">
            <MudCardContent>
                <MudTextField @bind-Value="userDataJobModel.FirstName"                              
                For="@(() => userDataJobModel.FirstName)"
                Immediate="true"
                Label="First Name" />

                <MudTextField @bind-Value="userDataJobModel.LastName"                              
                For="@(() => userDataJobModel.LastName)"
                Immediate="true"
                Label="Last Name" />

                <MudTextField @bind-Value="userDataJobModel.UserName"                              
                For="@(() => userDataJobModel.UserName)"
                Immediate="true"
                Label="UserName" 
                HelperText="Max. 8 characters"/>

                <MudTextField @bind-Value="userDataJobModel.Email"                              
                For="@(() => userDataJobModel.Email)"
                Immediate="true"
                Label="Email" />  
                
                <MudRadioGroup T="VM_JobAgency.GenderOptions" Required="true" @bind-Value="userDataJobModel.Gender">
                    @foreach (VM_JobAgency.GenderOptions gender in (VM_JobAgency.GenderOptions[])Enum.GetValues(typeof(VM_JobAgency.GenderOptions)))
                    {
                        <MudRadio T="VM_JobAgency.GenderOptions" Value="@gender" Label="@GetEnumDisplayName(gender)" />
                    }
                </MudRadioGroup>
            
                <MudTextField @bind-Value="userDataJobModel.TeleNr"                              
                            For="@(() => userDataJobModel.TeleNr)"
                            Immediate="true"
                            Label="Telephone Number" />


                <MudTextField Required="true"  @bind-Value="userDataJobModel.Place"                              
                            For="@(() => userDataJobModel.Place)"
                            Immediate="true"
                            Label="Place of residence" /> 


                <MudRadioGroup T="VM_JobAgency.FieldOfWorkOptions" Required="true" @bind-Value="userDataJobModel.FieldOfWork">
                @foreach (VM_JobAgency.FieldOfWorkOptions fieldOfWork in (VM_JobAgency.FieldOfWorkOptions[])Enum.GetValues(typeof(VM_JobAgency.FieldOfWorkOptions)))
                {
                    <MudRadio T="VM_JobAgency.FieldOfWorkOptions" Value="@fieldOfWork" Label="@GetEnumDisplayName(fieldOfWork)" />
                }
                </MudRadioGroup>

                <MudTextField Required="true"  @bind-Value="userDataJobModel.Education"                              
                            For="@(() => userDataJobModel.Education)"
                            Immediate="true"
                            Label="Education" /> 

                <MudTextField  @bind-Value="userDataJobModel.Experience"                              
                            For="@(() => userDataJobModel.Experience)"
                            Immediate="true"
                            Label="Work Experience" /> 

                <MudTextField Required="true"  @bind-Value="userDataJobModel.DesiredFunction"                              
                            For="@(() => userDataJobModel.DesiredFunction)"
                            Immediate="true"
                            Label="Desired Function" />

                <MudRadioGroup T="VM_JobAgency.MotivationOptions" Required="true" @bind-Value="userDataJobModel.Motivation">
                @foreach (VM_JobAgency.MotivationOptions motivation in (VM_JobAgency.MotivationOptions[])Enum.GetValues(typeof(VM_JobAgency.MotivationOptions)))
                {
                    <MudRadio T="VM_JobAgency.MotivationOptions" Value="@motivation" Label="@GetEnumDisplayName(motivation)" />
                }
                </MudRadioGroup>

                
                <MudRadioGroup T="VM_JobAgency.LocationOptions" Required="true" @bind-Value="userDataJobModel.Location">
                @foreach (VM_JobAgency.LocationOptions location in (VM_JobAgency.LocationOptions[])Enum.GetValues(typeof(VM_JobAgency.LocationOptions)))
                {
                    <MudRadio T="VM_JobAgency.LocationOptions" Value="@location" Label="@GetEnumDisplayName(location)" />
                }
                </MudRadioGroup>

                <MudTextField @bind-Value="userDataJobModel.Comments"                              
                            For="@(() => userDataJobModel.Comments)"
                            Immediate="true"
                            AutoGrow ="true"
                            Lines = "3"
                            MaxLines = "10"
                            Label="Feedback / Comments" />
                
                
            </MudCardContent>
                <MudButton ButtonType ="ButtonType.Submit" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary" OnClick="@(SubmitFields)">Submit</MudButton>

        </MudForm>
    </MudCard>


</div>

    <section id="UserTable">
    <div>
        <MudSimpleTable class="d-flex justify-end">
            @foreach (VM_JobAgency item in userJobData)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Gender</td>
                    <td>@item.Experience</td>
                </tr>
            }
        </MudSimpleTable>
    </div>   
    </section>

@code 
{

    bool success;
    VM_JobAgency userDataJobModel = new VM_JobAgency();
    List<VM_JobAgency> userJobData = new List<VM_JobAgency>();

    protected override async Task OnInitializedAsync()
    {
        List<VM_JobAgency>? data = await Http.GetFromJsonAsync<List<VM_JobAgency>>(requestUri: "api/users/jobagency");
        userJobData = data ?? new List<VM_JobAgency>();
    }

    private async Task SubmitFields()
    {

    await Http.PostAsJsonAsync(requestUri: "api/users/jobagency", userDataJobModel);
    List<VM_JobAgency>? data = await Http.GetFromJsonAsync<List<VM_JobAgency>>(requestUri: "api/users/jobagency");
    userJobData = data ?? new List<VM_JobAgency>();
    if (data == null)
    {
        Debug.WriteLine("No data found from supplying Post");
    }
    }

    private string GetEnumDisplayName(Enum value)
    {
        var field = value.GetType().GetField(value.ToString());
        var attribute = field?.GetCustomAttributes(typeof(System.ComponentModel.DataAnnotations.DisplayAttribute), false)
            .Cast<System.ComponentModel.DataAnnotations.DisplayAttribute>()
            .FirstOrDefault();
        return attribute?.Name ?? value.ToString();
    }

        private void OnValidSubmit(EditContext context)
    {
        success = true;
    }

}
