@page "/jobagencyform"
@using DataLibrary
@using WebEnablePackage.ViewModels

@inject IDataAccess _data
@inject IConfiguration _config

<div class="ma-6 d-flex justify-center">
        <h3>User Registration Form</h3>
</div>
<div class="ma-6 d-flex justify-center">
    <MudCard Width= "800px">
        <MudForm Model ="jobAgencyFormModel">
            <MudCardContent>
                <MudRadioGroup T="VM_JobAgency.GenderOptions" Required="true" @bind-Value="jobAgencyFormModel.Gender">
                    @foreach (VM_JobAgency.GenderOptions gender in (VM_JobAgency.GenderOptions[])Enum.GetValues(typeof(VM_JobAgency.GenderOptions)))
                    {
                        <MudRadio T="VM_JobAgency.GenderOptions" Value="@gender" Label="@GetEnumDisplayName(gender)" />
                    }
                </MudRadioGroup>
            
                <MudTextField @bind-Value="jobAgencyFormModel.TeleNr"                              
                            For="@(() => jobAgencyFormModel.TeleNr)"
                            Immediate="true"
                            Label="Telephone Number" />


                <MudTextField Required="true"  @bind-Value="jobAgencyFormModel.Place"                              
                            For="@(() => jobAgencyFormModel.Place)"
                            Immediate="true"
                            Label="Place of residence" /> 


                <MudRadioGroup T="VM_JobAgency.FieldOfWorkOptions" Required="true" @bind-Value="jobAgencyFormModel.FieldOfWork">
                @foreach (VM_JobAgency.FieldOfWorkOptions fieldOfWork in (VM_JobAgency.FieldOfWorkOptions[])Enum.GetValues(typeof(VM_JobAgency.FieldOfWorkOptions)))
                {
                    <MudRadio T="VM_JobAgency.FieldOfWorkOptions" Value="@fieldOfWork" Label="@GetEnumDisplayName(fieldOfWork)" />
                }
                </MudRadioGroup>

                <MudTextField Required="true"  @bind-Value="jobAgencyFormModel.Education"                              
                            For="@(() => jobAgencyFormModel.Education)"
                            Immediate="true"
                            Label="Education" /> 

                <MudTextField  @bind-Value="jobAgencyFormModel.Experience"                              
                            For="@(() => jobAgencyFormModel.Experience)"
                            Immediate="true"
                            Label="Work Experience" /> 

                <MudTextField Required="true"  @bind-Value="jobAgencyFormModel.DesiredFunction"                              
                            For="@(() => jobAgencyFormModel.DesiredFunction)"
                            Immediate="true"
                            Label="Desired Function" />

                <MudRadioGroup T="VM_JobAgency.MotivationOptions" Required="true" @bind-Value="jobAgencyFormModel.Motivation">
                @foreach (VM_JobAgency.MotivationOptions motivation in (VM_JobAgency.MotivationOptions[])Enum.GetValues(typeof(VM_JobAgency.MotivationOptions)))
                {
                    <MudRadio T="VM_JobAgency.MotivationOptions" Value="@motivation" Label="@GetEnumDisplayName(motivation)" />
                }
                </MudRadioGroup>

                
                <MudRadioGroup T="VM_JobAgency.LocationOptions" Required="true" @bind-Value="jobAgencyFormModel.Location">
                @foreach (VM_JobAgency.LocationOptions location in (VM_JobAgency.LocationOptions[])Enum.GetValues(typeof(VM_JobAgency.LocationOptions)))
                {
                    <MudRadio T="VM_JobAgency.LocationOptions" Value="@location" Label="@GetEnumDisplayName(location)" />
                }
                </MudRadioGroup>

                <MudTextField @bind-Value="jobAgencyFormModel.Comments"                              
                            For="@(() => jobAgencyFormModel.Comments)"
                            Immediate="true"
                            AutoGrow ="true"
                            Lines = "3"
                            MaxLines = "10"
                            Label="Feedback / Comments" />
                
                
            </MudCardContent>
        </MudForm>
    </MudCard>
</div>

@code 
{

    bool success;
    VM_JobAgency jobAgencyFormModel = new VM_JobAgency();
    List<VM_JobAgency> VMFields = new List<VM_JobAgency>();

    protected override async Task OnInitializedAsync()
    {
        string sql = "SELECT * FROM Users";

        List<VM_JobAgency>? data = await _data.LoadData<VM_JobAgency, dynamic>(sql, new { }, _config.GetConnectionString("MySQLConnection"));
        VMFields = data;
    }

        private async Task SubmitFields()
    {

        string sql = "Insert INTO Users (FirstName, LastName) values (@FirstName, @LastName)";

        await _data.SaveData(sql, 
        new {   Gender = jobAgencyFormModel.Gender, 
                TeleNr = jobAgencyFormModel.TeleNr, 
                Place = jobAgencyFormModel.Place, 
                FieldOfWork = jobAgencyFormModel.FieldOfWork, 
                Education = jobAgencyFormModel.Education, 
                Experience = jobAgencyFormModel.Experience, 
                DesiredFunction = jobAgencyFormModel.DesiredFunction, 
                Motivation = jobAgencyFormModel.Motivation, 
                Location = jobAgencyFormModel.Location, 
            
            }, 
        _config.GetConnectionString(name: "MySQLConnection"));

    }

    private string GetEnumDisplayName(Enum value)
    {
        var field = value.GetType().GetField(value.ToString());
        var attribute = field?.GetCustomAttributes(typeof(System.ComponentModel.DataAnnotations.DisplayAttribute), false)
            .Cast<System.ComponentModel.DataAnnotations.DisplayAttribute>()
            .FirstOrDefault();
        return attribute?.Name ?? value.ToString();
    }

        private void OnValidSubmit(EditContext context)
    {
        success = true;
    }

}
