@page "/registration"
@using DataLibrary
@using WebEnablePackage.ViewModels

@inject HttpClient Http



<div class="ma-6 d-flex justify-center">
        <h3>User Registration Form</h3>
</div>
<section id="registration-form">
    <div class="ma-6 d-flex justify-center">
        <MudCard Width= "500px">
            <MudForm Model ="registrationModel">
                <MudCardContent>
                        <MudTextField @bind-Value="registrationModel.FirstName"                              
                        For="@(() => registrationModel.FirstName)"
                        Immediate="true"
                        Label="First Name" />

                        <MudTextField @bind-Value="registrationModel.LastName"                              
                        For="@(() => registrationModel.LastName)"
                        Immediate="true"
                        Label="Last Name" />

                        <MudTextField @bind-Value="registrationModel.UserName"                              
                        For="@(() => registrationModel.UserName)"
                        Immediate="true"
                        Label="UserName" 
                        HelperText="Max. 8 characters"/>

                        <MudTextField @bind-Value="registrationModel.Email"                              
                        For="@(() => registrationModel.Email)"
                        Immediate="true"
                        Label="Email" />           

                        <MudTextField @bind-Value="registrationModel.Password"                              
                        For="@(() => registrationModel.Password)"
                        Immediate="true"
                        Label="Password" 
                        HelperText="Choose a strong password"
                        InputType="InputType.Password"/>

                        <MudTextField @bind-Value="registrationModel.ConfirmPassword"                              
                        For="@(() => registrationModel.ConfirmPassword)"
                        Immediate="true"
                        Label="Confirm Password" 
                        HelperText="Repeat the password"
                        InputType="InputType.Password"/>   
                </MudCardContent>
                <MudButton ButtonType ="ButtonType.Submit" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary" OnClick="@(RegisterUser)">Submit</MudButton>
            </MudForm>
        </MudCard>
    </div>
</section>


<section id="UserTable">
    <div>
        <MudSimpleTable class="d-flex justify-end">
            @foreach (VM_Registration item in registeredUsers)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                </tr>
            }
        </MudSimpleTable>
    </div>   
</section>





@code {

    
    
    bool success;
    private VM_Registration registrationModel = new VM_Registration();
    List<VM_Registration> registeredUsers = new List<VM_Registration>();
 protected override async Task OnInitializedAsync()
    {
        List<VM_Registration>? data = await Http.GetFromJsonAsync<List<VM_Registration>>(requestUri: "api/users");
        registeredUsers = data ?? new List<VM_Registration>();
    }

    private async Task RegisterUser()
    {
        await Http.PostAsJsonAsync(requestUri: "api/users", registrationModel);
        List<VM_Registration>? data = await Http.GetFromJsonAsync<List<VM_Registration>>(requestUri: "api/users");
        registeredUsers = data ?? new List<VM_Registration>();
    }

    private void OnValidSubmit(EditContext context)
    {
        success = true;
    }

}